@use 'variables';

/* header */
.cabecera {
  grid-area: header;
  width: 100%;
  background-color: variables.$negro;
  color: variables.$rosa-principal; /* Color del texto */
  padding: 20px 0; /* Espacio alrededor del texto */
}

/* navegación lateral */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Ancho del menú */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: variables.$negro;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .nav-list {
    list-style-type: none; /* Elimina las viñetas */
    display: flex;
    flex-direction: column; /* Disposición vertical */
    gap: 40px; /* Espacio entre los elementos del menú */
    padding: 1rem 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: variables.$rosa-principal;
        font-size: 1.2rem;
        padding: 5px;
        display: block;
        text-align: center;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
}

.logo {
  height: 80px; /* Ajusta el tamaño del logo */
  margin-bottom: 20px; /* Agrega espacio debajo del logo */
}
